body{
    background-color:black;
}
h1{
    color:#FFFF;
    font-family: "press Start 2P", "consolas", "sans-serif";
}
p{
    color:#00FF73;
    font-family:"consolas", sans-serif; 
    font-style: italics;
    font-weight: bolder;
    text-decoration: cyan dotted underline;
    font-size: 18px;
}